body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #f3ec78, #af4261);
    color: #333;
}

header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
  width: 7%;
  height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 2em;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.container label {
    margin: 1em 0;
}

.container input, .container select {
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container button {
    padding: 1em 2em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.container button:hover {
    background-color: #0056b3;
}

.container p {
    margin: 2em 0;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .container {
        margin: 20px 10px;
        padding: 1em;
    }

    .container input, .container select, .container button {
        padding: 0.5em;
        margin-bottom: 1em;
    }

    .container p {
        margin: 1em 0;
    }
}


#admin-button {
  float: right;
  margin-top: 10px;
  padding: 1em 2em;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

#admin-button:hover {
  background-color: #0056b3;
}

#admin-panel {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 2em;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
}
